html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif; }
  body .page-container {
    position: relative;
    min-height: 100%; }
    body .page-container main {
      width: 50rem;
      margin: 0 auto;
      padding-bottom: 10rem; }
      body .page-container main section {
        margin-top: 1rem; }

a {
  text-decoration: none;
  color: #3884FF; }

section .header h1 {
  margin: 0;
  font-size: 2rem; }

@media screen and (max-width: 1024px) {
  body {
    font-size: 90%; }
    body .page-container main {
      width: auto;
      margin: 0 .5rem;
      box-sizing: border-box;
      margin-top: 2em; }
      body .page-container main section {
        margin-top: 8rem; } }

.highlight table td:first-child pre {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                          supported by Chrome and Opera */ }

body > .page-container > header {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #d4dadf;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem;
  box-shadow: 0 3px 8px 0 rgba(3, 3, 3, 0.1);
  font-size: 200%; }
  body > .page-container > header > a {
    color: #000; }
  body > .page-container > header .burger-menu {
    width: 100px;
    display: none;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    body > .page-container > header .burger-menu div {
      width: 60px;
      height: 8px;
      background-color: black;
      margin: 6px 0;
      border-radius: 2px; }
  body > .page-container > header nav {
    text-align: center; }
  body > .page-container > header ul {
    display: inline-block;
    margin: 0; }
    body > .page-container > header ul li {
      display: inline-block;
      margin: 0 1rem; }
      body > .page-container > header ul li a {
        font-size: .6em;
        font-weight: bold;
        vertical-align: middle;
        display: table-cell; }

@media screen and (max-width: 1024px) {
  body > .page-container > header {
    position: fixed;
    top: 0;
    background-color: #FFF; }
    body > .page-container > header .burger-menu {
      display: flex; }
    body > .page-container > header nav {
      position: fixed;
      width: 75%;
      background-color: #FFF;
      right: -75%;
      border-left: 1px solid #d4dadf;
      box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1); }
      body > .page-container > header nav.expanded {
        right: 0; }
      body > .page-container > header nav ul {
        display: block;
        padding: 0; }
        body > .page-container > header nav ul li {
          display: block;
          margin: 0;
          border-bottom: 1px solid #d4dadf; } }

footer {
  display: flex;
  height: 10rem;
  border-top: 1px solid #d4dadf;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: space-around; }

.post .header a {
  color: #000; }

.post .header .post-meta, .post .header .post-meta a {
  color: #aaa; }

.post blockquote {
  border-left: 3px solid #d4dadf;
  padding-left: 1rem; }

.home header {
  text-align: center; }
  .home header h1 {
    font-size: 4rem;
    margin: 0;
    margin-top: 1em; }
  .home header h2 {
    color: #aaa;
    margin-bottom: 2em; }
